<div class="container">

  <div class="row">

    <div class="col-sm-12">
      <h4 class="align-center">Kurt Cobain</h4>
    </div>
  </div>
  <br /><br >

  <div class="row">

    <div class="col-sm-3">
      <img src="assets/Nirvana.png" style= "width: 100%;height:auto;">
    </div>

    <div class="col-sm-9">
      <p>Kurt Cobain was an American singer, songwriter, guitarist and musician.
        Kurt Cobain was the founder of the band Nirvana. He was the lead singer
        and lead guitarist. Kurt's songs were known for their mix of angst, alienation,
        distorted guitars, and melody. Cobain died of suicide on April 5, 1994 at the age of 27.
      </p>

    </div>
  </div>

</div>
