
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">WEB425</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>

    </div>
  </div>
</nav>
<br /><br />
<h2 style="text-align: center">{{ assignment }}</h2>
<br /><br />

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <app-my-image></app-my-image>
    </div>

    <div class="col-sm-2">
      <app-my-details></app-my-details>
    </div>

  </div>

</div>
