<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />
      <mat-card-content class="align-center">
        <p>
          123 Main Street
        </p>
        <p>
          Las Vegas, Nevada
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free: 1-800-555-5555
        </p>
        <p>
          Fax: 555-555-4444
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or one of our five Las Vegas Locations.
  </p>
</div>
